html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
}
body {
  background: #0F1010;
  color: #d3ddef;
}
header{
  color: white;
  font-family: "Roboto", sans-serif;
}
form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px ;
}
.search{
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 14px;
  margin-bottom: 40px;
  border-radius: 28px;
  background-color: #222020;
}
.input-bar{
  font-size: 18px;
  color: #E71613;
  width: 100%;
  border-radius: 10px;
  margin-left: 14px;
  outline: none;
  background: transparent;
  border: none;
}
.btn-div{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.btn{
  border-radius: 10px;
  background-color: #E71613;
  color: #222020;
  padding: 10px;
  margin: 0px 3px;
  /* margin-left: 10px; */
  cursor: pointer;
  border: none;
}
.btn:hover{
  background-color: #222020;
  color: #E71613;
  transition: 0.3s;
}


.ag-canvas {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

  position: relative;
  visibility: visible;

  width: 100%;
  height: 100%;
  padding: 3rem 1rem;
  opacity: 1;
  transition: opacity 0.5s;

  z-index: -1;
  margin-top: -90px;
}
.ag-canvas_svg {
  display: block;
  width: 100%;
  height: auto;
  max-height: 100%;
  /* margin-left: 1rem; */
}
.ag-canvas_svg path {
  fill: #222020;
  fill-opacity: 1;
  stroke: #853535;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: 0.5s;
}
.ag-canvas_svg path:hover{
  fill: #E71613;
  fill-opacity: 0.5;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .ag-canvas {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    height: auto;
    padding: 4rem 1rem 1rem;
  }
  .ag-canvas_svg {
    max-height: calc(100% - 6rem);
    margin-left: 0;
  }
}

.total-count {
  font-family: "Roboto", sans-serif;
  color: white;
  position: absolute;
  padding: 15px;
  left: 0;
  bottom: 0;
}
